<h1>Rezepte</h1>
<app-loading-spinner-admin *ngIf="(recipeService.loading$|async)"></app-loading-spinner-admin>
<div class="card" *ngIf="!(recipeService.loading$|async) && (recipeService.recipes$|async)">
  <p-table [value]="(recipeService.recipes$|async)" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="width:20%">Id <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="title" style="width:20%">Titel <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="user.username" style="width:20%">Autor <p-sortIcon field="user.username"></p-sortIcon></th>
        <th>Aktionen</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-recipe>
      <tr>
        <td>{{recipe.id}}</td>
        <td>{{recipe.title}}</td>
        <td>{{recipe.user.username}}</td>
        <td>
          <app-recipe-delete [recipe]="recipe"></app-recipe-delete>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
