<p-dataView #dv [value]="recipes" [rows]="5" [paginator]="true">
  <ng-template let-recipe pTemplate="listItem">
    <div class="col-12">
      <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
        <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + recipe.image" [alt]="recipe.name" />
        <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
          <div class="flex flex-column align-items-center sm:align-items-start gap-3">
            <div class="text-2xl font-bold text-900">{{ recipe.name }}</div>
            <p-rating [(ngModel)]="recipe.rating" [readonly]="true" [cancel]="false"></p-rating>
            <div class="flex align-items-center gap-3">
                            <span class="flex align-items-center gap-2">
                              <ng-container *ngFor="let category of recipe.categories"> //alle kategorien darstellen, hoffentlich klaappt des s0
                                <i class="pi pi-tag"></i>
                                <span class="font-semibold">{{ recipe.categories.name }}</span> //maybe links
                              </ng-container>
                            </span>
              <div class="flex align-items-center gap-2">
                <ng-container *ngFor="let ingredient of recipe.ingredients"> //alle ingredients darstellen, hoffentlich klaappt des s0
                  <p-tag [severity]="'success'" [rounded]="true">{{ ingredient.name }}</p-tag>  //severity durch greencolor ersetzen maybe und link
                </ng-container>
            </div>
          </div>
          <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
            <div class="flex align-items-center gap-3">
              <i class="pi pi-clock"></i>
             <span class="text-2xl font-semibold">{{ recipe.time + 'min' }}</span>
            </div>
            <div class="flex align-items-center gap-3">
              <i class="pi pi-chart-pie"></i>
              <span class="text-2xl font-semibold">{{ recipe.servings }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
