<div class="surface-ground p-5 min-h-screen flex align-items-center justify-content-center">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">

    <p-button pRipple label="Zurück" icon="pi pi-angle-left"
              styleClass="p-button-outlined p-button-secondary" [routerLink]="['']"></p-button>

    <div class="text-center mb-5">
      <img src="assets/images/logo-transparent.png" alt="Image" class="mb-3 w-full md:w-6">
      <div class="text-900 text-3xl font-medium mb-3">Herzlich Willkommen!</div>
      <span class="text-600 font-medium line-height-3">Schon einen Account?</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" [routerLink]="['/auth/login']">Direkt zum Login!</a>
    </div>

    <form [formGroup]="signupForm">
      <div class="mb-4">
        <label for="username" class="block text-900 font-medium mb-2">Benutzername</label>
        <input id="username" formControlName="username" type="text" placeholder="Benutzername" pInputText pAutoFocus [autofocus]="true" class="w-full">

        <div style="position: relative">
          <small style="position: absolute" *ngIf="username.hasError('pattern') && username.touched">Keine Sonderzeichen außer "-" und "_" erlaubt</small>
          <small style="position: absolute" *ngIf="username.hasError('usernameExists')">Username existiert bereits</small>
          <small style="position: absolute" *ngIf="username.hasError('minlength') && username.touched">Username muss mindestens 3 Zeichen lang sein</small>
          <small style="position: absolute" *ngIf="username.hasError('required') && (username.touched || submitted)">Username  ist erforderlich</small>
        </div>
      </div>

      <div class="mb-4">
        <label for="email" class="block text-900 font-medium mb-2">E-Mail Adresse</label>
        <input id="email" formControlName="email" type="email" placeholder="E-Mail Adresse" pInputText class="w-full">
        <div style="position: relative">
          <small style="position: absolute" *ngIf="email.hasError('email') && email.touched">E-Mail Adresse ungültig</small>
          <small style="position: absolute" *ngIf="email.hasError('required') && (email.touched || submitted)">E-Mail Adresse ist erforderlich</small>
          <small style="position: absolute" *ngIf="email.hasError('emailExists')">E-Mail Adresse existiert bereits</small>
        </div>
      </div>

      <div class="mb-4">
        <label for="password" class="block text-900 font-medium mb-2">Passwort</label>
        <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="false" styleClass="w-full" inputStyleClass="w-full"></p-password>
        <div style="position: relative">
          <small style="position: absolute" *ngIf="password.hasError('minlength') && password.touched">Passwort muss mindestens 6 Zeichen lang sein</small>
          <small style="position: absolute" *ngIf="password.hasError('required') && (password.touched || submitted)">Passwort ist erforderlich</small>
        </div>
      </div>

      <div class="mb-4">
        <label for="password_confirmation" class="block text-900 font-medium mb-2">Passwort bestätigen</label>
        <p-password id="password_confirmation" formControlName="password_confirmation" [toggleMask]="true" [feedback]="false" styleClass="w-full" inputStyleClass="w-full"></p-password>
        <div style="position: relative">
          <small style="position: absolute" *ngIf="password_confirmation.hasError('required') && (password_confirmation.touched || submitted)">Passwortwiederholung ist erforderlich</small>
          <small style="position: absolute" *ngIf="passwordsDontMatch">Passwortwiederholung stimmt nicht mit Passwort überein</small>
        </div>
      </div>

      <div class="card flex justify-content-center">
        <p-button pRipple label="Registrieren" [loading]="loading" (click)="submit()"></p-button>
      </div>

    </form>
  </div>

</div>
<p-toast></p-toast>
