<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div *ngIf="!loading && recipe">

  <app-categories-list [categories]="recipe.categories" [withIcon]="false"></app-categories-list>

  <div class="flex flex-wrap flex-column sm:flex-row align-items-center justify-content-between my-4 gap-4">

    <div class="flex text-center flex-column sm:flex-row align-items-center gap-4">
      <h1 class="m-0 text-center">{{recipe.title}}</h1>
      <app-cookbook-star *ngIf="!isMyRecipe && authService.user" [recipe]="recipe"></app-cookbook-star>
    </div>

    <span><i class="pi pi-user-edit mr-2"></i> Erstellt von <a>{{recipe.user.username}}</a></span>
  </div>

  <div class="flex flex-column md:flex-row gap-3">

    <p-fieldset [legend]="'Zutaten für ' + recipe.servings + (recipe.servings > 1 ? ' Portionen' : ' Portion')">
      <app-ingredients-table [recipeIngredients]="recipe.ingredients"></app-ingredients-table>
    </p-fieldset>

    <p-fieldset legend="Zubereitung">
      <p class="m-0">
        <span>Dauer: ca. {{recipe.time}} min.</span>
      </p>
      <p-divider type="solid"></p-divider>
      <div class="flex flex-column lg:flex-row gap-4">
        <p class="m-0">
          {{recipe.description}}
        </p>

        <p-image [src]="recipe.imagePath" [alt]="recipe.title" imageClass="max-w-15rem" [preview]="true"></p-image>
      </div>
    </p-fieldset>

  </div>

  <ng-container *ngIf="isMyRecipe">
    <div class="flex justify-content-end mt-4 gap-2">
      <p-button  (click)="edit()" pRipple label="Rezept bearbeiten" icon="pi pi-pencil"
                 styleClass="p-button-secondary"[loading]="buttonLoading"></p-button>

      <p-button  (click)="delete($event)" pRipple label="Rezept löschen" icon="pi pi-trash"
                 styleClass="p-button-danger" [loading]="buttonLoading"></p-button>
      <p-confirmPopup></p-confirmPopup>
    </div>
  </ng-container>

</div>


