/* You can add global styles to this file, and also import other style files */

body {
  /* Each PrimeNG theme has its own font family so it is suggested to apply it to your application for a unified look. */
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}

.p-menubar.navigation {
  //padding-top: 0;
  //padding-bottom: 0;

  p-menubarsub {
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

.p-button {
  cursor: pointer;
}
