<div class="card border-round mb-4 surface-600 p-6  flex flex-column align-items-center">
  <h1 class="text-white text-center mx-4 mt-0 mb-2 sm:text-5xl">Passende Rezepte nach deinen Wünschen</h1>

  <p class="text-center text-white mb-5">
    Willkommen bei <strong class="text-primary text-white text-lg bg-primary px-1">FlavorSavor</strong>, wo kulinarische Abenteuer auf dich warten.
    Finde das perfekte Rezept, indem du nach Namen, Zutaten oder Kategorie filterst.
    Egal, ob du ein passionierter Hobbykoch oder ein Neuling in der Küche bist, hier findest du Inspiration für jeden Gaumen.
    Tauche ein und lass dich von unserer Sammlung köstlicher Rezepte verzaubern.
    Deine kulinarische Reise beginnt jetzt!
  </p>
  <app-filter-recipes [isHome]="true"></app-filter-recipes>
</div>
